body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
}

img {
 max-width: 100%;
 max-height: 100%;
}

.mapadiv{
    width: 90%;
    stroke-width: 0.5px;
}
.parque {
  position: absolute;
  top: 393px;
  left: 140px;
  width: 40px;
  height: 50px;
  border: 2px solid black;
}

ul li h4{
    margin-top: 9px;
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}
ul li div{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    color: #fff;
    padding: 8px 4px;
    text-align: center;
    float: left;
    object-fit: cover;
    
}
ul {
    list-style: none;
}
.sidebar{
    z-index:100;
    pointer-events: auto;
    display: inline;
}
ul li>a{
    background-color: #F0F3F4;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2f3434 !important;
    display: block;
    margin: 6px 10px;
    margin-bottom: 0;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .2s;
    outline: 0;
    box-shadow: none;
    text-decoration: none !important;
}
li{
    position: relative;
}
ul{
    border-color: #eee;
    list-style: none;
}
